$dark-green: (
    50 : #e4efe8,
    100 : #bbd6c5,
    200 : #8ebb9f,
    300 : #619f78,
    400 : #3f8b5b,
    500 : #1d763e,
    600 : #1a6e38,
    700 : #156330,
    800 : #115928,
    900 : #0a461b,
    A100 : #7dff9c,
    A200 : #4aff75,
    A400 : #17ff4e,
    A700 : #00fc3b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
