$gray: (
    50 : #f6fbf9,
    100 : #e9f4f0,
    200 : #dbede7,
    300 : #cce6dd,
    400 : #c1e0d5,
    500 : #b6dbce,
    600 : #afd7c9,
    700 : #a6d2c2,
    800 : #9ecdbc,
    900 : #8ec4b0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f4fffb,
    A700 : #dafff1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
