$light-green: (
    50 : #f0fcf1,
    100 : #daf7dd,
    200 : #c1f2c6,
    300 : #a8ecaf,
    400 : #96e89e,
    500 : #83e48d,
    600 : #7be185,
    700 : #70dd7a,
    800 : #66d970,
    900 : #53d15d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ccffd0,
    A700 : #b2ffb8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
