$mint-green: (
    50 : #fafffb,
    100 : #f4fff6,
    200 : #ecfff0,
    300 : #e4ffe9,
    400 : #dfffe5,
    500 : #d9ffe0,
    600 : #d5ffdc,
    700 : #cfffd8,
    800 : #caffd3,
    900 : #c0ffcb,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
