<header>
  <mat-toolbar>
    <span>Angular Material Custom Theme Deme</span>
  </mat-toolbar>
</header>

<main>
  <p>
    <button
      mat-raised-button
      color="primary">
      Primary
    </button>

    <button
      mat-button
      color="primary">
      Primary
    </button>
  </p>

  <p>
    <button
      mat-raised-button
      color="accent">
      Accent
    </button>

    <button
      mat-button
      color="accent">
      Primary
    </button>
  </p>

  <p>
    <button
      mat-raised-button
      color="warn">
      Warn
    </button>

    <button
      mat-button
      color="warn">
      Primary
    </button>
  </p>
</main>
